<div style="max-width: 800px;padding:30px">
    <div style="text-align: center;color:#e86a32">
        <img src="https://exomorphisme.fr/static/media/images/mails/lettrenum/bandeau.png" alt=""> <br>
        <h1 style="font-size: 2.5em;">Rentrée numérique - LPO de Sada </h1>
    </div>
    Bonjour à tous, <br>
    <br>
    Bonne rentrée à tous et bienvenue aux nouveaux arrivants.<br>
    Voici quelques informations pouvant vous être utiles.

    <div style="padding: 30px" ;>
        <hr style="color:darkorange">
    </div>

    <h2 style="color:#4384aa">Identifiants des enseignants nouvellement nommés</h2>
    <h3  style="color:#4384aa"> <img src="https://exomorphisme.fr/static/media/images/mails/lettrenum/mail.png" alt="" height=64>Accès à la
        boite mail académique</h3>
    Pour accéder à votre boite académique, vous pouvez vous connecter au webmel : <br>
    <a href="https://webmel.ac-mayotte.fr/SOGo/" target="_blank">https://webmel.ac-mayotte.fr/SOGo/</a>
    <br>

    puis vous identifier : <br>
    <ul>
        <li>Nom d'utilisateur : pnom (première lettre du prénom suivie de votre nom)</li>
        <li>Mot de passe : votre NUMEN</li>
    </ul>
    <br>
    <br>

    <h3  style="color:#4384aa"> <img src="https://exomorphisme.fr/static/media/images/mails/lettrenum/neo.png" alt="" height=64> Accès à l'ENT
        et à Pronote</h3>


    Pour les enseignants nouvellement nommés au lycée de Sada, les identifiants Néo vous ont normalement été communiqués
    sur votre boite académique et dans votre casier.<br>

    <br>
    L'accès à PRONOTE n'est possible que par le biais de l'ENT Néo, en saisissant :
    <a href="https://mayotte.opendigitaleducation.com" target="_blank">https://mayotte.opendigitaleducation.com</a> 
    <br>
    Le raccourci pronote <img src="https://exomorphisme.fr/static/media/images/mails/lettrenum/pronote.png" alt=""> est disponible dans le menu <b>mes applis</b>.
    <br> 
    <img src="https://exomorphisme.fr/static/media/images/mails/lettrenum/mes_appli.png" alt="">
    <br>
    <br>
    En cas de difficulté, n'hésitez pas à me le signaler par mail : <br>
    <a href="mailto:etienne.clave@ac-mayotte.fr">etienne.clave@ac-mayotte.fr</a>
    <br>
    <br>

    <br>
    <h3  style="color:#4384aa"> <img src="https://exomorphisme.fr/static/media/images/mails/lettrenum/ordi.png" alt="">  Identifiants réseau</h3>
    <br>
    Les identifiants réseaux seront crées par la DSI dans quelques jours (voir semaines). Il faut donc s'armer de
    patience. <br>
    En attendant pour vous connecter sur les ordinateurs du lycée, veuillez utiliser les identifiants génériques
    ci-dessous : <br>
    <ul>
        <li>Nom d'utilisateur : stage1</li>
        <li>Mot de passe : stage1 </li>
    </ul>

    <br> <br>
    <em>
        En cas de panne réseau, pour se connecter aux postes dans une session locale, vous pouvez utiliser les
        identifiants ci-dessous. <br>
        <ul>
            <li>Nom d'utilisateur : .\prof</li>
            <li>Mot de passe : prof </li>
        </ul>
    </em>

    <br><br>
    <div style="padding: 30px" ;>
        <hr style="background-color:darkorange">
    </div>

    <h2  style="color:#4384aa">Identifiants des élèves </h2>
    <br>
    Les identifiants Néo des élèves déjà inscrits au lycée de Sada l'an passé sont inchangés, idem pour les anciens
    collégiens qui étaient dans l'académie de Mayotte l'an passé.
    <br>
    <br>
    Je remercie les PP de recenser les élèves n'ayant pas d'identifiants Néo (ou les ayant perdus) et de me transmettre
    la liste par mail,
    <a href="mailto:etienne.clave@ac-mayotte.fr">etienne.clave@ac-mayotte.fr</a>, en me précisant la classe, le nom, le
    prénom et la date de naissance (inutile si la demande concerne un renouvellement de mot de passe) des élèves
    concernés.
    <br>
    <br>
    Les identifiants réseaux seront eux aussi crées par la DSI et diffusés aux PP de chaque classe dès réception.
    Pour les anciens élèves, les identifiants ne changent pas d'une année à l"autre<br>

    <br><br>
    <em>
        En cas de panne réseau, les élèves peuvent se connecter aux postes en utilisant une session locale avec les
        identifiants ci-dessous. <br>
        <ul>
            <li>Nom d'utilisateur : .\eleve</li>
            <li>Mot de passe : eleve </li>
        </ul>
    </em>

    <div style="padding: 30px" ;>
        <hr style="color:darkorange">
    </div>

    <h2  style="color:#4384aa">Déclaration d'incident </h2>
    <br>
    En attendant que l'équipe des référents numériques soit constituée, les demandes et déclarations d'incident peuvent se faire par mail. <br>
    <a href="mailto:etienne.clave@ac-mayotte.fr">etienne.clave@ac-mayotte.fr</a> <br>
    Merci de préciser la salle et une description précise, dans la mesure du possible, de la pannne.
    <br><br><br>
    Cordialement, <br>
    <em>CLAVE Etienne <br>
        Référent Numérique
    </em>
</div>