<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Dashboard connexion Néo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f2f2f2;
        }

        .content {
            margin: auto;
            margin-top: 50px;
            width: 1250px;
            background-color: white;
            padding: 25px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>


    <div class="content">
        <!--  -->
        <!--  -->
        <!-- Metric de LAN -->
        <!--  -->
        <!--  -->
        <br><br>
        <h2 style="color:orange;text-align: center">Dashboard des connexions Néo</h2>
        <br>

        {{secondes["classes"][0]}} 

        <br>

        {{secondes["test"]}}

        	<h4>Secondes Générales</h4>
        <canvas id="seconde" style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
        <br><br>

        <br><br>
                <h4>Premières Générales</h4>
        <canvas id="prem_g" style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
        <br><br>

        <br><br>
            <h4>Terminales Générales</h4>
        <canvas id="term_g" style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
        <br><br>
    </div>


    <script>
        var timeFormat = 'YYYY/MM/DD HH:mm';

        function newDate(days) {
            return moment().add(days, 'd').toDate();
        }

        function newDateString(days) {
            return moment().add(days, 'd').format(timeFormat);
        }

        var color = Chart.helpers.color;
        var config1 = {
            type: 'bar',
            data: {
                labels: ['201', '202', '203', '204', '205', '206', '207','208','209','210','211','212','213','214'],
                datasets: [{
                    label: 'Connexion de moins de 24h',
                    backgroundColor: 'rgba(135,200,145,0.8)',
                    data: {{secondes["pourcentage_recente"] | safe}},
                    }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(200,134,200,0.8)',
                    data: {{secondes["pourcentage_moyenne"] | safe}},
                        }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(200,134,200,0.8)',
                    data: {{secondes["pourcentage_ancienne"] | safe}},
                    }]
                },
            options: {
                title: {
                        display: true,
                        text: 'Date de la dernière connexion'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
            }
        };

 


        var ctxTime = document.getElementById('seconde').getContext('2d');
        var timeChart = new Chart(ctxTime, config1);

        // var ctxTime = document.getElementById('prem_g').getContext('2d');
        // var timeChart = new Chart(ctxTime, config2);

        // var ctxTime = document.getElementById('term_g').getContext('2d');
        // var timeChart = new Chart(ctxTime, config3);
    </script>


    </body>

</html>