* {
  box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
}


a:hover{
	color: #657689;
	font-size: 3em;
}

a{
	color:inherit;
	text-decoration: none;
	transition: color 1s, font-size 1s;
}


body {
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: center;
}
.blocks {
  position: fixed;
  bottom: 0;
  z-index: 1;
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.blocks__block {
  will-change: transform;
  position: relative;
  height: 20vh;
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.blocks__block:nth-child(1) {
  background: #f4d35d;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
.blocks__block:nth-child(2) {
  background: #db5b4a;
  -webkit-transform-origin: 25% 100%;
          transform-origin: 25% 100%;
}
.blocks__block:nth-child(3) {
  background: #e2bb7f;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.blocks__block:nth-child(4) {
  background: #f67b7d;
  -webkit-transform-origin: 75% 100%;
          transform-origin: 75% 100%;
}
.blocks__block:nth-child(5) {
  background: #a1775a;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.blocks__block.active {
  z-index: 2;
}
.blocks-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.blocks-content__content {
  will-change: transform, opacity;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 10vw;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s 0.2s ease-out;
  transition: all 0.3s 0.2s ease-out;
}
.blocks-content__content.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}
.blocks-content .blocks__content-close {
  position: absolute;
  right: 2vw;
  top: 2vh;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.blocks-content .blocks__content-close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blocks-content p {
  font-size: 16px;
  line-height: 2;
  max-width: 800px;
}
.blocks-content h2 {
  padding: 15px 30px;
  font-weight: 300;
  letter-spacing: 6px;
  box-shadow: inset 0 0 0 3px #000;
}
.blocks-names {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  font-size: 18px;
  letter-spacing: 4px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.blocks-names .blocks__name {
  -webkit-box-flex: 1;
          flex: 1;
  height: 20vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
/* Demo */
main {
  position: relative;
  z-index: 1;
  padding: 3vh 5vw;
  height: 80vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-pack: center;
          justify-content: center;
  background: rgba(74, 94, 117, 0.85);
}
main h1 {
  margin: 0;
  font-weight: 300!important;
  color: #38c5b9;
  font-size: 6em!important;
  text-shadow: 2px 2px #e4e8ec;
}
main h1 a {
  font-size: 48px;
}
main p {
  /* font-weight: 300; */
  font-size: 2em;
  max-width: 340px;
  margin: 7px auto;
}
main a {
  text-decoration: none;
  color: #38c5b9;
  font-size: 30px;
}
main .plate {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 780px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  box-shadow: 1px 5px #38c5b9;
}
