<!DOCTYPE html>
<html lang="fr">

<head>
    <title>LAN Metrics</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f2f2f2;
        }

        .content {
            margin: auto;
            margin-top: 50px;
            width: 1250px;
            background-color: white;
            padding: 25px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>


    <div class="content">
        <!--  -->
        <!--  -->
        <!-- Metric de LAN -->
        <!--  -->
        <!--  -->
        <br><br>
        <h2 style="color:orange;text-align: center">Metriques du réseau local</h2>
        <br>
        	<h4>Download</h4>
        <canvas id="charts_metric_lan_download" style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
        <br><br>

        <br><br>
                <h4>Upload</h4>
        <canvas id="charts_metric_lan_upload" style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
        <br><br>

        <br><br>
        <h4>Latence</h4>
        <canvas id="charts_metric_lan_latence" style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
        <br><br>
    </div>


    <script>
        var timeFormat = 'YYYY/MM/DD HH:mm';

        function newDate(days) {
            return moment().add(days, 'd').toDate();
        }

        function newDateString(days) {
            return moment().add(days, 'd').format(timeFormat);
        }

        var color = Chart.helpers.color;
        var config1 = {
                type: 'line',
                data: {
                    labels: {{dates}},
                    datasets: [{% for host in datas %}{
                        label: "{{ host["host"]}}",
                        backgroundColor: "{{host["color"]}}",
                        borderColor: "{{host["color"]}}",
                        fill: false,
                        data: {{host["download"] | safe}},
                    }, {% endfor %}
                ]},
            options: {
                title: {
                    text: 'Download'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: timeFormat,
                            // round: 'day'
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'value'
                        }
                    }]
                },
            }
        };

var config2 = {
                type: 'line',
                data: {
                    labels: {{dates}},
                    datasets: [{% for host in datas %}{
                        label: "{{ host["host"]}}",
                        backgroundColor: "{{host["color"]}}",
                        borderColor: "{{host["color"]}}",
                        fill: false,
                        data: {{host["upload"] | safe}},
                    }, {% endfor %}
                ]},
            options: {
                title: {
                    text: 'Upload'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: timeFormat,
                            // round: 'day'
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'value'
                        }
                    }]
                },
            }
        };



var config3 = {
                type: 'line',
                data: {
                    labels: {{dates}},
                    datasets: [{% for host in datas %}{
                        label: "{{ host["host"]}}",
                        backgroundColor: "{{host["color"]}}",
                        borderColor: "{{host["color"]}}",
                        fill: false,
                        data: {{host["latence"] | safe}},
                    }, {% endfor %}
                ]},
            options: {
                title: {
                    text: 'Latence'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: timeFormat,
                            // round: 'day'
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'value'
                        }
                    }]
                },
            }
        };



        var ctxTime = document.getElementById('charts_metric_lan_download').getContext('2d');
        var timeChart = new Chart(ctxTime, config1);

        var ctxTime = document.getElementById('charts_metric_lan_upload').getContext('2d');
        var timeChart = new Chart(ctxTime, config2);

        var ctxTime = document.getElementById('charts_metric_lan_latence').getContext('2d');
        var timeChart = new Chart(ctxTime, config3);
    </script>


    </body>

</html>