<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Dashboard connexion Néo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f2f2f2;
        }

        .content {
            margin: auto;
            margin-top: 50px;
            width: 70vw;
            background-color: white;
            padding: 25px;
        }
        .detail{
            /* max-height: 75vh; */
        }
        .hidden{
            display: none;
        }

        .block{
            display: block;
        }

        button{
            padding: 10px;
            font-size: 1.1em;
            background-color: darkgrey;
            color: white;
            border: none;
            width: 175px;
        }

        button:hover{
            background-color: darkorange;
            font-size: 1.2em;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
        crossorigin="anonymous"></script>


    <div class="content">
        <!--  -->
        <!--  -->
        <!-- Metric de LAN -->
        <!--  -->
        <!--  -->
        <br><br>
        <h2 style="color:orange;text-align: center">Dashboard des connexions Néo</h2>
        <h4 style="color:orange;text-align: center">Mise à jour : {{date_time}}</h4>
        <br>
        <div style="max-width: 600px;margin: auto;">
            <div id="en-tete" style="width:400px; margin:auto;text-align: center;">
                 <button onclick='affBilanJournalier()'> Bilan journalier </button>
                 <button  onclick='affBilanDatetime()'> Bilan global </button>
            </div>
            <canvas id='bilan-journalier' style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
            <canvas id="bilan-datetime" style="display: none; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
        <br><br>
        </div>
        <br>
        <div style="background-color:orange;color:white; padding: 30px;">
            <h4 style="text-align: center;">Bilan</h4>
            <ul>
                <li> Pourcentage des élèves s'étant connectés il y a moins de 24h : {{lycee["pourcentage_recente"]}} %
                </li>
                <li> Pourcentage des élèves s'étant connectés entre 24h et 72h : {{lycee["pourcentage_moyenne"]}} %</li>
                <li> Pourcentage des élèves s'étant connectés il y a plus de 72h : {{lycee["pourcentage_ancienne"]}} %
                </li>
            </ul>
            <br>
        </div>

        <br><br>

        <h2 style="color:orange;text-align: center">Détails</h2>
        
        
        <select name="classe_choice" id="classe_choice" style="width:100%">
            <option value="" disable> Choisir un niveau</option>
            <option value="secondes"> Secondes</option>
            <option value="premieres_g"> Première Générales</option>
            <option value="premieres_t"> Premières STMG</option>
            <option value="terminales_g"> Terminale Générales</option>
            <option value="terminales_t"> Terminale STMG</option>
            <option value="bts"> BTS</option>
            <option value="pro"> Voie Pro</option>
            <option value="tous"> Tous les niveaux</option>
        </select>


        <br> <br>
        <div id="secondes" class="detail">
            <h4 style="color:orange;text-align: center">Secondes Générales</h4>
            <div>
                <h4>Bilan</h4>
                <ul>
                    <li> Pourcentage des élèves s'étant connectés il y a moins de 24h : {{secondes["m_recente"]}}</li>
                    <li> Pourcentage des élèves s'étant connectés entre 24h et 72h : {{secondes["m_moyenne"]}}</li>
                    <li> Pourcentage des élèves s'étant connectés il y a plus de 72h : {{secondes["m_ancienne"]}}</li>
                </ul>
                <br>
            </div>
            <canvas id="seconde" style="display: block; width: 800px; height: 600px;margin: auto;" width="800"
                height="600"></canvas>
            <br><br>
        </div>

        <div id="premieres_g" class="detail"> 
        <br><br>
        <h4 style="color:orange;text-align: center">Premières Générales</h4>
        <div>
            <h4>Bilan</h4>
            <ul>
                <li> Pourcentage des élèves s'étant connectés il y a moins de 24h : {{premieres["m_recente"]}}</li>
                <li> Pourcentage des élèves s'étant connectés entre 24h et 72h : {{premieres["m_moyenne"]}}</li>
                <li> Pourcentage des élèves s'étant connectés il y a plus de 72h : {{premieres["m_ancienne"]}}</li>
            </ul>
            <br>
        </div>
        <canvas id="prem_g" style="display: block; width: 800px; height: 600px;margin: auto;" width="800"
            height="600"></canvas>
        </div>

        <div id="premieres_t" class="detail"> 
            <br><br>
        <h4 style="color:orange;text-align: center">Premières STMG</h4>
        <div>
            <h4>Bilan</h4>
            <ul>
                <li> Pourcentage des élèves s'étant connectés il y a moins de 24h : {{premieres_t["m_recente"]}}</li>
                <li> Pourcentage des élèves s'étant connectés entre 24h et 72h : {{premieres_t["m_moyenne"]}}</li>
                <li> Pourcentage des élèves s'étant connectés il y a plus de 72h : {{premieres_t["m_ancienne"]}}</li>
            </ul>
            <br>
        </div>
        <canvas id="prem_t" style="display: block; width: 800px; height: 600px;margin: auto;" width="800"
            height="600"></canvas>
        </div>


        <div id="terminales_g" class="detail"> 
        <br><br>
        <h4 style="color:orange;text-align: center">Terminales Générales</h4>

        <div>
            <h4>Bilan</h4>
            <ul>
                <li> Pourcentage des élèves s'étant connectés il y a moins de 24h : {{terminales["m_recente"]}}</li>
                <li> Pourcentage des élèves s'étant connectés entre 24h et 72h : {{terminales["m_moyenne"]}}</li>
                <li> Pourcentage des élèves s'étant connectés il y a plus de 72h : {{terminales["m_ancienne"]}}</li>
            </ul>
            <br>
        </div>
        <canvas id="term_g" style="display: block; width: 800px; height: 600px;margin: auto;" width="800"
            height="600"></canvas>
        <br><br>
        </div>

        <div id="terminales_t" class="detail"> 
        <br><br>
        <h4 style="color:orange;text-align: center">Terminales STMG</h4>

        <div>
            <h4>Bilan</h4>
            <ul>
                <li> Pourcentage des élèves s'étant connectés il y a moins de 24h : {{terminales_t["m_recente"]}}</li>
                <li> Pourcentage des élèves s'étant connectés entre 24h et 72h : {{terminales_t["m_moyenne"]}}</li>
                <li> Pourcentage des élèves s'étant connectés il y a plus de 72h : {{terminales_t["m_ancienne"]}}</li>
            </ul>
            <br>
        </div>
        <canvas id="term_t" style="display: block; width: 800px; height: 600px;margin: auto;" width="800"
            height="600"></canvas>
        <br><br>
        </div>


        <div id="bts" class="detail"> 
            <br><br>
            <h4 style="color:orange;text-align: center">BTS</h4>
    
            <div>
                <h4>Bilan</h4>
                <ul>
                    <li> Pourcentage des élèves s'étant connectés il y a moins de 24h : {{bts["m_recente"]}}</li>
                    <li> Pourcentage des élèves s'étant connectés entre 24h et 72h : {{bts["m_moyenne"]}}</li>
                    <li> Pourcentage des élèves s'étant connectés il y a plus de 72h : {{bts["m_ancienne"]}}</li>
                </ul>
                <br>
            </div>
            <canvas id="bts_charts" style="display: block; width: 800px; height: 600px;margin: auto;" width="800"
                height="600"></canvas>
            <br><br>
            </div>

            <div id="pro" class="detail"> 
                <br><br>
                <h4 style="color:orange;text-align: center">Voie pro.</h4>
        
                <div>
                    <h4 style="font-size: 1.5em;">Bilan</h4>
                    <ul>
                        <li> Pourcentage des élèves s'étant connectés il y a moins de 24h : {{pro["m_recente"]}}</li>
                        <li> Pourcentage des élèves s'étant connectés entre 24h et 72h : {{pro["m_moyenne"]}}</li>
                        <li> Pourcentage des élèves s'étant connectés il y a plus de 72h : {{pro["m_ancienne"]}}</li>
                    </ul>
                    <br>
                </div>
                <canvas id="pro_charts" style="display: block; width: 800px; height: 600px;margin: auto;" width="800"
                    height="600"></canvas>
                <br><br>
                </div>
    

    </div>

    <script>
        console.log("Bonjour")
        let details = document.querySelectorAll('.detail');
        console.log(details);
    
        details.forEach( elmt => {
             elmt.classList.add("hidden")})
    
            
        let select = document.getElementById('classe_choice')
        select.addEventListener('change', (event) => {
            if (select.value == 'tous'){
                details.forEach( elmt => {
                    elmt.classList.remove("hidden");
                    elmt.classList.add("block")})
                    window.location.assign('#secondes');
            }
            else {
                details.forEach( elmt => {
                    elmt.classList.remove("block");
                    elmt.classList.add("hidden")})
                // document.getElementById(select.value).classList.remove("hidden")
                document.getElementById(select.value).classList.add("block");
                window.location.assign('#'+ select.value);
            }
        })
        </script>

    <script>
        var timeFormat = 'YYYY/MM/DD HH:mm';

        function newDate(days) {
            return moment().add(days, 'd').toDate();
        }

        function newDateString(days) {
            return moment().add(days, 'd').format(timeFormat);
        }


        var config_sada = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [{{lycee["pourcentage_recente"]}},
                            {{lycee["pourcentage_moyenne"]}},
                            {{lycee["pourcentage_ancienne"]}}],
                    backgroundColor: ['rgba(135,200,145,0.8)',
                        'rgba(100,134,200,0.8)',
                        'rgba(200,134,135,0.8)'],
                    label: "Connexion Néo"
                }],
                labels: ["Connexion de moins de 24h", 'Connexion de moins de 72h', 'Connexion de plus de 72h']
            },
            options: {
                responsive: true
            }
        };

        var color = Chart.helpers.color;
        var config_seconde = {
            type: 'bar',
            data: {
                labels: ['201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213',
                    '214'
                ],
                datasets: [{
                    label: 'Connexion de moins de 24h',
                    backgroundColor: 'rgba(135,200,145,0.8)',
                    data: {{secondes["pourcentage_recente"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(100,134,200,0.8)',
                    data: {{secondes["pourcentage_moyenne"] | safe }},
                }, {
                    label: 'Connexion de plus de 72h',
                    backgroundColor: 'rgba(200,134,135,0.8)',
                    data: {{secondes["pourcentage_ancienne"] | safe }},
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Date de la dernière connexion'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        };



        var color = Chart.helpers.color;
        var config_prem_g = {
            type: 'bar',
            data: {
                labels: {{premieres["classes"] | safe}},
                datasets: [{
                    label: 'Connexion de moins de 24h',
                    backgroundColor: 'rgba(135,200,145,0.8)',
                    data: {{premieres["pourcentage_recente"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(100,134,200,0.8)',
                    data: {{premieres["pourcentage_moyenne"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(200,134,135,0.8)',
                    data: {{premieres["pourcentage_ancienne"] | safe }},
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Date de la dernière connexion'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        };


        var color = Chart.helpers.color;
        var config_prem_t = {
            type: 'bar',
            data: {
                labels: {{premieres_t["classes"] | safe}},
                datasets: [{
                    label: 'Connexion de moins de 24h',
                    backgroundColor: 'rgba(135,200,145,0.8)',
                    data: {{premieres_t["pourcentage_recente"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(100,134,200,0.8)',
                    data: {{premieres_t["pourcentage_moyenne"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(200,134,135,0.8)',
                    data: {{premieres_t["pourcentage_ancienne"] | safe }},
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Date de la dernière connexion'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        };



        var color = Chart.helpers.color;
        var config_term_g = {
            type: 'bar',
            data: {
                labels: {{terminales["classes"] | safe}},
                datasets: [{
                    label: 'Connexion de moins de 24h',
                    backgroundColor: 'rgba(135,200,145,0.8)',
                    data: {{terminales["pourcentage_recente"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(100,134,200,0.8)',
                    data: {{terminales["pourcentage_moyenne"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(200,134,135,0.8)',
                    data: {{terminales["pourcentage_ancienne"] | safe }},
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Date de la dernière connexion'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        };


        var color = Chart.helpers.color;
        var config_term_t = {
            type: 'bar',
            data: {
                labels: {{terminales_t["classes"] | safe}},
                datasets: [{
                    label: 'Connexion de moins de 24h',
                    backgroundColor: 'rgba(135,200,145,0.8)',
                    data: {{terminales_t["pourcentage_recente"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(100,134,200,0.8)',
                    data: {{terminales_t["pourcentage_moyenne"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(200,134,135,0.8)',
                    data: {{terminales_t["pourcentage_ancienne"] | safe }},
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Date de la dernière connexion'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        };


        var color = Chart.helpers.color;
        var config_bts = {
            type: 'bar',
            data: {
                labels: {{bts["classes"] | safe}},
                datasets: [{
                    label: 'Connexion de moins de 24h',
                    backgroundColor: 'rgba(135,200,145,0.8)',
                    data: {{bts["pourcentage_recente"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(100,134,200,0.8)',
                    data: {{bts["pourcentage_moyenne"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(200,134,135,0.8)',
                    data: {{bts["pourcentage_ancienne"] | safe }},
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Date de la dernière connexion'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        };


        var color = Chart.helpers.color;
        var config_pro = {
            type: 'bar',
            data: {
                labels: {{pro["classes"] | safe}},
                datasets: [{
                    label: 'Connexion de moins de 24h',
                    backgroundColor: 'rgba(135,200,145,0.8)',
                    data: {{pro["pourcentage_recente"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(100,134,200,0.8)',
                    data: {{pro["pourcentage_moyenne"] | safe }},
                }, {
                    label: 'Connexion de moins de 72h',
                    backgroundColor: 'rgba(200,134,135,0.8)',
                    data: {{pro["pourcentage_ancienne"] | safe }},
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Date de la dernière connexion'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        };


        var ctxTime = document.getElementById('bilan-journalier').getContext('2d');
        var timeChart = new Chart(ctxTime, config_sada);

        var ctxTime = document.getElementById('seconde').getContext('2d');
        var timeChart = new Chart(ctxTime, config_seconde);

        var ctxTime = document.getElementById('prem_g').getContext('2d');
        var timeChart = new Chart(ctxTime, config_prem_g);

        var ctxTime = document.getElementById('term_g').getContext('2d');
        var timeChart = new Chart(ctxTime, config_term_g);

        var ctxTime = document.getElementById('prem_t').getContext('2d');
        var timeChart = new Chart(ctxTime, config_prem_t);

        var ctxTime = document.getElementById('term_t').getContext('2d');
        var timeChart = new Chart(ctxTime, config_term_t);

        var ctxTime = document.getElementById('bts_charts').getContext('2d');
        var timeChart = new Chart(ctxTime, config_bts);

        var ctxTime = document.getElementById('pro_charts').getContext('2d');
        var timeChart = new Chart(ctxTime, config_pro);
    </script>

    <script>
        var timeFormat = 'DD/MM/YYYY HH:mm';

        function newDate(days) {
            return moment().add(days, 'd').toDate();
        }

        function newDateString(days) {
            return moment().add(days, 'd').format(timeFormat);
        }

        var color = Chart.helpers.color;
        var config1 = {
                type: 'line',
                data: {
                    labels: {{datas["dates"] | safe}},
                    datasets: [{% for data in datas["datas"] %}{
                        label: "{{data['label']}}",
                        backgroundColor: "{{data['couleur']}}",
                        borderColor: "{{data['couleur']}}",
                        fill: false,
                        data: {{data["data"] | safe}},
                    }, {% endfor %}
                ]},
            options: {
                title: {
                    text: 'Bilan des connexions'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: timeFormat,
                            // round: 'day'
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'value'
                        }
                    }]
                },
            }
        };

        var ctxTime = document.getElementById('bilan-datetime').getContext('2d');
        var timeChart = new Chart(ctxTime, config1);
    </script>


<script>
function  affBilanJournalier(){
    console.log("Bilan journalier()");
    let bj = document.getElementById("bilan-journalier");
    let bh = document.getElementById("bilan-datetime");
    bh.style.display = "none"; 
    bj.style.display = "block"; 
}

function  affBilanDatetime(){
    console.log("Bilan annuel");
    let bj = document.getElementById("bilan-journalier");
    let bh = document.getElementById("bilan-datetime");
    bj.style.display = "none"; 
    bh.style.display = "block"; 
}
</script>
    </body>

</html>