<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Bilan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f2f2f2;
        }

        .content {
            margin: auto;
            margin-top: 50px;
            width: 1250px;
            background-color: white;
            padding: 25px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>


    <div class="content">
        <!--  -->
        <!--  -->
        <!-- Metric de LAN -->
        <!--  -->
        <!--  -->
        <br><br>
        <h2 style="color:orange;text-align: center"></h2>
        <br>
            <h4>Bilan hebdomadaire</h4>
            <div id="en-tete">
                <ul>
                    <li onclick='affBilanJournalier()'> Bilan journalier </li>
                    <li onclick='affBilanDatetime()'> Bilan global </li>
                </ul>
            </div>
            <canvas id='bilan-journalier' style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
            <canvas id="bilan-datetime" style="display: none; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
        <br><br>

 
    </div>


    <script>
        var timeFormat = 'DD/MM/YYYY HH:mm';

        function newDate(days) {
            return moment().add(days, 'd').toDate();
        }

        function newDateString(days) {
            return moment().add(days, 'd').format(timeFormat);
        }

        var color = Chart.helpers.color;
        var config1 = {
                type: 'line',
                data: {
                    labels: {{datas["dates"] | safe}},
                    datasets: [{% for data in datas["datas"] %}{
                        label: "{{data['label']}}",
                        backgroundColor: "{{data['couleur']}}",
                        borderColor: "{{data['couleur']}}",
                        fill: false,
                        data: {{data["data"] | safe}},
                    }, {% endfor %}
                ]},
            options: {
                title: {
                    text: 'Bilan des connexions'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: timeFormat,
                            // round: 'day'
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'value'
                        }
                    }]
                },
            }
        };

        var ctxTime = document.getElementById('bilan-datetime').getContext('2d');
        var timeChart = new Chart(ctxTime, config1);
    </script>


<script>
function  affBilanJournalier(){
    console.log("Bilan journalier()");
    let bj = document.getElementById("bilan-journalier");
    let bh = document.getElementById("bilan-datetime");
    bh.style.display = "none"; 
    bj.style.display = "block"; 
}

function  affBilanDatetime(){
    console.log("Bilan annuel");
    let bj = document.getElementById("bilan-journalier");
    let bh = document.getElementById("bilan-datetime");
    bj.style.display = "none"; 
    bh.style.display = "block"; 
}
</script>

    </body>

</html>