<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Quiz Maker</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<!--===================================   CSS externe ============================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
	
	<!--===============================================================================================-->
	<!--=============================== Interne à l'application ========================================-->
	<!--====================================  CSS  ====================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/form.css">
	<!--====================================  JS  ====================================================-->
	<script src="/static/js/app.js"></script>
	<!--===============================================================================================-->
	
	<!--=========================================================================================-->
	<!--==============================  Vendor JS ===============================================-->
	<!--==============================  Polyfill  ===============================================-->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<!--=============================   Mathjax   ===============================================-->
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<!--========================================================================================-->

	<!--=========================================================================================-->
	<!--=======================           FAVICON         =======================================-->
	<link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/static/favicon/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/static/favicon/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
	<!--=========================================================================================-->

	{% block head %}{% endblock %}
</head>
<body>
<!-- 	<div style="position: fixed; top:40px; right:140px; margin: 0; padding: 0;text-align: right;" >
				<button onclick='toogleDisplay("menu-perso")' style="margin: 0; padding: 0; width:75px;height: 75px;border-radius: 50px; border: 1px solid orange;overflow: hidden;background-color: transparent;" >
		{% for i in range(1) %}
			<img src="{{ user['avatar'] }}" style="width:75px; height:75px" alt="" id="myAvatar">
		{% endfor %}
				</button>
		 <br>
			<div id="menu-perso" class="d-none" style="text-align: left;">
				<ul>
					<li> <a href="/classes">  <i style="color:orange" class="fa fa-users fa-2x" aria-hidden="true"></i> Mes classes</a> </li>
					<li> <a href="/"  >  <i style="color:orange" class="fa fa-book fa-2x" aria-hidden="true"></i>  Mes Q.C.M.</a> </li>
					<li> <a href="/parametre">  <i style="color:orange" class="fa fa-cogs fa-2x" aria-hidden="true"></i> Paramètres</a></li>
					<li> <a href="/ch_avatar">  <i style="color:orange" class="fa fa-eye fa-2x" aria-hidden="true"></i> Changer mon avatar</a></li>
					<li> <a href="/del_compte">  <i style="color:orange" class="fa fa-remove fa-2x" aria-hidden="true"></i> Supprimer le compte</a></li>
					<li> <a href="/logout">  <i style="color:orange" class="fa fa-sign-out fa-2x" aria-hidden="true"></i> Se déconnecter</a></li>
				</ul>
 			</div>
	</div> -->

	{% include "components/user_menu.html"%}


	

	{% block content %}{% endblock %}


	<!--=========================================================================================-->
	<!--==============================  Vendor JS ===============================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--=========================================================================================-->
</body>
</html>

