<!DOCTYPE html>
<html lang="fr">
<head>
	<title>LAN Metrics</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	html,body {
		margin:0;
		padding: 0;
	}
	body{
		background-color: #f2f2f2;
	}

	.content{
		margin:auto;
		margin-top:50px;
		width:1250px;
		background-color: white;
		padding: 25px;
	}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>


<div class="content">
<!--  -->
<!--  -->
<!-- Metric de LAN -->
<!--  -->
<!--  -->
<br><br>
<h2 style="color:orange;text-align: center">Metriques du réseau local</h2>
<br>
<canvas id="charts_metric_lan"  style="display: block; width: 800px; height: 600px;margin: auto;" width="800" height="600"></canvas>
<br><br>
</div>


<script>
 		var timeFormat = 'YYYY/MM/DD HH:mm';

		function newDate(days) {
			return moment().add(days, 'd').toDate();
		}

		function newDateString(days) {
			return moment().add(days, 'd').format(timeFormat);
		}

		var color = Chart.helpers.color;
		var config = {
			type: 'line',
			data: {
				labels: {{datas["date"] | safe}},
				datasets: [{
					label: 'Temps de récupération',
					backgroundColor: "rgba(255, 99, 132, 0.4)",
					borderColor: "rgba(54, 162, 235, 0.4)",
					fill: false,
					data: {{datas["download"] | safe}},
				}]
			},
			options: {
				title: {
					text: 'Download'
				},
				scales: {
					xAxes: [{
						type: 'time',
						time: {
							parser: timeFormat,
							// round: 'day'
							tooltipFormat: 'll HH:mm'
						},
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'value'
						}
					}]
				},
			}
		};


			var ctxTime = document.getElementById('charts_metric_lan').getContext('2d');
			var timeChart = new Chart(ctxTime, config);
	</script>
 
	 
</body>
</html>
